<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/icon.svg">
    <script src="./js/app.js"></script>
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/41747603_1032102556963952_5054826686600708096_n.jpg" class="portrait" />
    </div>
    {{>footer}}
</body>

</html>